{% extends "base.html" %}

{# =========================================================
問題数選択ページ
========================================================= #}

{% block content %}

<!-- ======================================================
     ページタイトル
     ====================================================== -->
<h1>

  {{ level }}

  - 問題数を選択

</h1>

<!-- ======================================================
     問題数リスト
     ====================================================== -->
<div class="grid five">

  <!-- ====================================================
       問題数を表示
       例: 10, 20, 30, 40, 50
       ==================================================== -->
  {% for size in sizes %}

  <!-- ================================================
         問題数カード
         クリックするとテストページへ移動
         ================================================ -->
  <a class="panel center" href="{{ url_for('exam.exam', level=level, amount=size) }}">

    <!-- 問題数 -->
    <h2>

      {{ size }}

    </h2>

    <!-- 説明 -->
    <p>

      問題

    </p>

  </a>

  {% endfor %}

</div>

{% endblock %}